:root {
    --primary-color: rgb(13, 106, 134);
    --primary-color-darker: rgb(9, 48, 56);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
   'Open Sans', 'Helvetica Neue', sans-serif;
    outline: 0;
}
body {
    background: var(--primary-color);
    font-size: 1.3em;
    line-height: 1.28em;
}
.body-web {
    height: 100vh;
    width: 80vw;
    margin: 10px auto;
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}
form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 12px;
}
form input {
   font-size: 24px;
   height: 35px;
   padding: 0 10px; 
}
form input:focus {
    outline: 1px solid var(--primary-color);
}
form button {
    border: nome;
    color: #fff;
    background-color: var(--primary-color);
    font-weight: 700;
    height: 50px;
    cursor: pointer;
}
form button:hover {
    background: var(--primary-color-darker);
}
.paragrafo-resultado, .bad {
    background: rgb(109, 255, 182);
    padding: 10px 20px;
}
.bad {
    background-color: rgb(255, 150, 150);
}