* {
    margin: 0;
    padding: 0;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   box-sizing: border-box;
}
html {
    font-size: 62,5%;
scroll-behavior: smooth;
}
.pai {
    padding: 80px;
    width: 75vw /*500px*/;
    height: 100vh;
    background:yellow;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
p{
    font-size: 1vmax;
}
.color-one {
    background: turquoise;
}
.color-two {
    background: pink;
}
nav{
    background-color: #02D6DE;
}
a {
    color: white;
    text-decoration: none;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   display: block;
   padding: 5vmin 15vmax;
   text-transform: uppercase;
}
nav ul {
    font-size: 1.5vmin;
    display: flex;
    list-style: none;
    margin-left: 20 px;
}
nav {align-items: center;
margin-bottom: 15px;}
nav a:hover {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.816);
}
div {
   align-items:center;
   text-align: center;
   align-content:center;

}
.text {margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0;
    background: #03FABE;
    width: 80%;
    height: 90%;
    text-align: center;
}
body{background:#0FB0F5 ;}