* {
    margin: 0;
    padding: 0;
   font-family:Arial, Helvetica, sans-serif;
}
nav {
    display: block;
    float: left;
    background: red;
}
nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 3vmin 11.5vmax;
    text-transform: uppercase;
}
nav ul {
    font-size: 1.5vmin;
    display: flex;
    list-style: none;
    margin-left: 10px;
}
nav {
    align-items:center;
    margin-bottom: 20px;
}
nav a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
div {
    align-items:center;
    text-align: center;
    align-items: center;
}
.text {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background: cornflowerblue;
    width: 80%;
    height: 90%;
    text-align: center;
}
body {
    background-color: rgba(75, 74, 74, 0.75);
}
.pai {
    padding: 80px;
    width: 75vw;
    height: 100vh;
    background-color: rgba(51, 0, 255, 0.234);
}