strong {
    color: red;
    font-size: 25pt;

}
body{
    background-image: url(https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-56228.jpg?w=740&t=st=1689605691~exp=1689606291~hmac=d387a37a407f8d8357689a5cee69f38de85b674601f1951bf15319b5188ee615);
    background-color: #cccccc;
    font-size: 20pt;
    color: white;
}