
.main-bg {
    background-image: url(../img/main-bg.svg);
    background-size: cover;
    background-position: center center ;
    color: var(--white-color);
}
.main-content {
    max-width: 150rem;
    margin: 0 auto;
    padding: 7.5rem var(--gap);
}
.section {
    min-height: 100vh;
}
.white-bg {
    background-color:var(--white-color);
    color: var(--primary-color);
}
.menu-spacing {
    height: 6.5rem;
}
body .full-width {
    width: 100%;
    flex: 1 1 100%;
  }